---
title: Hjem
---
<section class="hero diagonal">
	<div class="container">
		<h2>Vi gjør kule ting</h2>
		<p class="subtext">Vår oppgave er å hjelpe deg som kunde å muliggjøre optimalisering i din bedrift gjennom digitalisering.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Ta kontakt</a></p>
	</div>
</section>

<section class="diagonal">
	<div class="container tripples">
		<div class="text-center">
			<i class="icon-lg ion-arrow-swap wow fadeIn" data-wow-delay=".1s"></i>
			<h3>Digitalisering og rådgivning</h3>
			<p class="text-smaller">Vår oppgave er å hjelpe deg som kunde å muliggjøre optimalisering i din bedrift gjennom digitalisering. For hva skal man egentlig gjøre? Hvilken teknologi skal benyttes? Hvordan skal man realisere verdi i et potensiale man har funnet? Vi går inn i
				din bedrift, og legger frem et strategisk forslag til hva som kan gjøres.</p>
		</div>
		<div class="text-center">
			<i class="icon-lg ion-ios-lightbulb-outline"></i>
			<h3>Produktutvikling</h3>
			<p class="text-smaller">Vår lærdom er at man ofte skaper bedre produkter om det brukes tid på produktutvikling før det settes i gang med programvareutvikling. Derfor bruker vi tid på å fjerne skillet mellom forretningsutviklerene hos deg, og våre utviklere, dette for å skape
				synergier dem i mellom – som nettopp gjerne resulterer i gode produkter. Vi går inn i din idé på et overordnet nivå og setter ideen inn i digitale rammer.</p>
		</div>
		<div class="text-center">
			<i class="icon-lg ion-code"></i>
			<h3>Programvareutvikling</h3>
			<p class="text-smaller">Vet dere akkurat hvilket digitalt produkt dere ønsker utviklet? Da er vi teamet for dere! Vi bistår med utvikling av digitale plattformer, og jobber dynamisk og levende med iterative prosesser. Vi har kompetanse innenfor ulike områder, og liker å tilføre
				kundene våre verdi gjennom gode programvareutviklingsprosesser. Sammen skaper vi morgendagens digitale plattformer!
			</p>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3>Noen av våre prosjekter</h3>
			<p>Vi er stolt over arbeidet vårt og våre kunder. Vi hjelper selskaper fra hvilken som helst sektor.</p>
			<p><a href="{{ site.baseurl }}/portfolio/">Se alle kundene våre &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
